[2016-04-09 11:49] ardani opened #3 "Slims Module"
Hallo guys. dev senayan
mau tanya , panduan pembuatan module tambahan (custom) untuk slims 8  ada gak ?

[2016-05-22 18:29] matlam opened #7 "editing/deleting "RDA Media Type" and "RDA Carrier Type" doesn't work correctly"
There are multiple issues with editing and deleting items from the "RDA Media Type" and "RDA Carrier Type" in the master_file module
- deleting doesn't work(there is a message that deleting was successful, but the items are still there)
- after saving an item you see the list of "RDA Content Type" even if you edit/create a Media or Carrier item
- editing creates a new item instead of updating the

[2016-05-23 04:11] dicarve commented on #7
Thank you for your report matlam, we will investigating  the issues and update the repository after the fixes done

[2016-06-07 22:02] #7 closed, assigned to nobody

[2016-06-08 18:59] matlam commented on #7
Thanks for looking into this issue. It is mostly fixed now.

But this is still not working completely. When creating a new "RDA Carrier Type" or "RDA Media Type" you are shown the list of  "RDA Content Type". The same happens when deleting from the detail view. Editing is working now though.

[2016-06-12 00:18] matlam opened #15 "citations not working for authors in the "firstname lastname" format"
While updating the translations I noticed that the citation popup for titles whose author name is not in the format "lastname, firstname" only displays the lastname, nothing else. For me it doesn't matter, because I don't need that feature, but maybe you want to fix it anyway.

The problematic code is in [lib/contents/cite.inc.php](https://github.com/slims/slims8_akasia/blob/c0c7194f3f3407a87014aa

[2016-06-12 21:44] matlam opened #16 "Translation of Strings in JavaScript files"
What is the best way to translate Strings which are in .js files?
So far I found the following untranslated Strings:
- template/default/js/custom.js: "e.g. Library and Information"
- calendar.js: day_names and month_names
- form.js: "Please supply valid ID!", "No Data Selected!" and the default confirmMsg
- updater.js: loading and error message in simbioAJAX () and several messages in ucsUpload()

[2017-01-06 06:55] buitenzorg812 opened #20 "deleted loan rules"
please do make check, concerning loan rules attached to circulation. because we have a concern here. when someone make a loan rules then make a lend based on that loan rules, that loan rules bind to that person. but when that someone erase that particular loan rules, all data related to erased loan rules, will be gone to. and the admin will be confused.

please do make check.

[2017-01-06 06:57] idoalit commented on #20
@buitenzorg812 Berarti tidak bisa di delete jikalau rule tsb ada yg makek ya?

[2017-01-06 06:57] buitenzorg812 commented on #20
hnah...harusnya begitu. ada semacam warning.

[2017-01-06 06:57] slims commented on #20
@buitenzorg812 Kejadian di Untirta

[2017-01-06 07:02] buitenzorg812 commented on #20
kejadian jugak di salah satu pengguna SLiMS yang curhat di forum.

[2017-01-10 17:07] buitenzorg812 commented on #20
jadi terkait isu ini gimana, apakah bisa dikunci, apabila ada rules yang terpakai oleh proses transaksi?

[2017-01-10 22:58] wynerst commented on #20
@buitenzorg812 Kalau mau slims akuntable terkait denda (tidak hanya denda tapi semua transaksi) maka menurut says harusnya ditambahkan fasilitas untuk tetap menyimpan semua aturan pinjam selama diperlukan/dibutuhkan jika ada pemeriksaan.

[2017-01-10 22:59] buitenzorg812 commented on #20
@wynerst hajar mas

[2017-01-14 06:02] ridorido opened #24 "Error when searching bibliography list by ISBN"
![screenshot from 2017-01-14 12 51 53](https://cloud.githubusercontent.com/assets/138495/21952849/7fecd560-da59-11e6-9f2e-b2966a647d3c.png)

Error when searching bibliography list by ISBN

[2017-01-15 12:16] slims commented on #24
@ridorido masalah ini hanya muncul jika indexing menggunakan sphink

[2017-01-17 10:20] prazetyo opened #25 "Error requesting page : /slims8/admin/modules/circulation/circulation_action.php"
Ketika saya ingin melakukan transaksi buku, setelah memasukkan id member, langsung muncul error seperti judul diatas.

Mungkin ada solusi?

![circulation error 2017-01-17_171809](https://cloud.githubusercontent.com/assets/9956953/22016536/3a606476-dcd9-11e6-8259-bd94d5f73648.png)

[2017-01-17 10:23] idoalit commented on #25
@prazetyo Silahkan update kode sumber SLiMS mas @prazetyo dari github.

[2017-01-17 10:52] prazetyo commented on #25
Sy barusan download lagi di github. saya timpa file lama. masih tetep. Yang saya install adalah slims akasia 8.3.1 di xampp.
Saya juga install slims akasia 8.3 di xampp yg sama, circulation berjalan lancar tanpa ada masalah.

![circulation-8 3-2017-01-17_175122](https://cloud.githubusercontent.com/assets/9956953/22017613/9eab3fe2-dcdd-11e6-96f0-98b22dfa4923.png)

[2017-01-18 10:18] buitenzorg812 commented on #25
@prazetyo Apa peramban yang digunakan, mas?

[2017-01-18 10:44] prazetyo commented on #25
Sy pakai firefox terbaru. Utk yg v8.3.1 error, sedangkan yg v8.3 lancar. Utk di chrome jg sama.

Selain itu, sy lihat style teks (apa mngkn cssnya) pada menu dihalaman depan jg berbeda antara v8.3.1 dan v8.3. Makasih

[2017-01-31 05:07] denirusdiaman opened #26 "Error ketika membuka .../admin/modules/bibliography/z3950sru.php?ajaxload=1"
![screenshot_35](https://cloud.githubusercontent.com/assets/25449044/22452910/50fd0d54-e7ad-11e6-9deb-8174cb6ce51c.png)

![screenshot_36](https://cloud.githubusercontent.com/assets/25449044/22452962/b1f31b9e-e7ad-11e6-80ca-164cf15f3b67.png)

![screenshot_37](https://cloud.githubusercontent.com/assets/25449044/22452967/ba61965c-e7ad-11e6-9c7e-67187c1ecad9.png)

error ketika mengakses menu Layanan Z

[2017-02-19 19:28] matlam opened #27 "custom member fields not saved in member_custom"
if you define fields in member_custom_fields.inc.php and create them in the member_custom table, you get an error message when saving a member: "Unknown column 'customfield1' in 'field list'".
If you create the fields in the member table it works. But this is not the intended way to do it, is it?

[2017-03-16 07:54] ridorido opened #30 "can't update title when editing via item list"
The title on bibliography can't be updated if you edited from item list

[2017-03-24 12:30] buitenzorg812 commented on #20
jadi gimana ini, apakah sudah bisa dieksekusi? supaya masalahnya nggak berkelanjutan

[2017-03-24 14:56] slims commented on #20
Udah diperbaiki? Belum yak.

[2017-03-29 02:24] buitenzorg812 commented on #20
updated by @hendrowicaksono

[2017-03-29 02:24] #20 closed, assigned to nobody

[2017-04-05 06:26] ghost opened #42 "Undefined number in the calculation of fine after the transaction is finished"
There's a number in fines tab which should not appear after the fine has been balanced or paid

![image](https://cloud.githubusercontent.com/assets/6960505/24692474/6db3d17a-1a03-11e7-8c18-2afdedd02e62.png)

[2017-04-05 06:28] ghost opened #43 "Bar graph for new transaction don't appear in Dashboard, latest transaction section"
![image](https://cloud.githubusercontent.com/assets/6960505/24692522/aa2f70a0-1a03-11e7-94c5-c82dbeea1439.png)

![image](https://cloud.githubusercontent.com/assets/6960505/24692527/b0ab9828-1a03-11e7-8ef7-ffe1b5109bfb.png)

[2017-04-05 09:53] #42 closed, assigned to nobody

[2017-05-10 09:51] buitenzorg812 opened #45 "strange mark on circulation page"
after inserting member id/name in circulation module, come this unknown mark beside account information. you can see it from image below.

![senayan library automation system - google chrome_192](https://cloud.githubusercontent.com/assets/125229/25893105/c347e028-35a0-11e7-9932-1b25be373e07.png)

[2017-05-25 20:01] trichimtrich opened #47 "[Security Bugs] Multiple Sql Injection"
Hi, I have found some critical bugs in Slims8 Akasia 8.3.1 (latest version).
First, There is a sql injection bug in this url:
- http://localhost/slims8/admin/AJAX_lookup_handler.php
[code]
You have escaped the `tableName` string. But actually it just appends backslash `\` before `'`, `"`, or `\`. Reference from [PHP mysql_real_escape_string](http://php.net/manual/en/function.mysql-real-escape-stri

[2017-05-25 20:06] trichimtrich opened #48 "[Security Bugs] Abitrary File Read"
Hi, there is an abitrary file read bug in
- http://localhost/slims8/admin/help.php
[code]
We can travel directory path and use abitrary filename in `$_GET['url']`.
So attacker can read any file (include source code, config) in the system.
PoC
- http://localhost/slims8/admin/help.php?url=/../../config/sysconfig.local.inc.php

![2017_05_26_lfi1](https://cloud.githubusercontent.com/assets/7029140/264

[2017-05-26 12:26] trichimtrich opened #49 "[Security Bugs] CSRF + XSS in Change User Profile"
In Change User Profile function, there is no `Old password` to confirm change user password, and also no `CSRF Token` to protect CSRF malicious request. [Reference Owasp](https://www.owasp.org/index.php/Cross-Site_Request_Forgery_(CSRF)).
So when the admin user access to malicious web, it will trigger to automatically change admin password to attacker's password.
Example request:
- http://localhos

[2017-05-31 21:40] ghost opened #51 "Fungsi visitor count tidak bekerja di template lightweight"
saya rasa template publik lightweight ini template yang modern dan ringan, namun pada fungsi visitor countnya tidak berfungsi, setelah saya teliti ternyata ada masa di bagian javascriptnya pada meta.php
menganti dan menambahkan skrip ini :

<script src="<?php //echo JWB;?>jquery.js"></script>

Menjadi

<script src="<?php echo $sysconf['template']['dir']; ?>/default/js/jquery.min.js"></script>
<scr

[2017-06-04 20:05] matlam commented on #49
Is anybody working on this?
As far as I know there is no protection against CSRF anywhere in slims. It would be good to add it to a central place(maybe in simbio) and use the CSRF-protection on all the forms

[2017-06-05 03:37] dicarve commented on #49
Hi,

We are planning to implement token for each form in Simbio for protection
against CSRF,
thank you for your suggestion

Regards,

On Mon, Jun 5, 2017 at 3:05 AM, matlam <notifications@github.com> wrote:

--
Open Source is about respecting other people creation and sharing knowledge
to others.
Sebaik baiknya manusia adalah yang bermanfaat bagi orang lain.
http://dicarve.blogspot.com

[2017-06-05 03:41] dicarve commented on #47
Hi trichimtrich,

Thank you for your findings, this is very useful for use, and we will try to resolve this issue ASAP

Regards,

[2017-06-05 03:45] dicarve commented on #48
Hi trichimtrich,

Thank you very much for your findings on this security issue, hopefully we can resolve this issue ASAP

Regards

[2017-06-13 13:48] breaker84 opened #52 "Maklumat type of collection di OPAC"
bagaimana ingin menunjukkan type of collection di dalam opac?
mungkin sebaris dalam kotak di ruangan availibility
sekian, mohon mencadang..

[2017-06-27 17:57] matlam commented on #49
Is there any progress on this or the other security bugs? Do you need any help?

[2017-06-29 00:15] slims commented on #49
@trichimtrich and @matlam i have added CSRF token in Simbio Form Maker class in commit [2bc5e5e23926d855d997df2d4f40f3217f3a6a8c](https://github.com/slims/slims8_akasia/commit/2bc5e5e23926d855d997df2d4f40f3217f3a6a8c) could you please help me check for it? thank you

[2017-06-29 01:50] matlam commented on #49
I'm not sure if I understand you correctly. Are you asking us to check if your implementation of a CSRF token is correct? Or do you want help in looking for places where a CSRF-Token is needed?

I had a quick look at the implementation and noticed two things:
1. it fails silently when neither random_bytes nor mcrypt_create_iv nor openssl_random_pseudo_bytes are available. That is probably unlikely

[2017-06-29 02:13] dicarve commented on #49
@matlam Yes i need help in testing the token implementation as i just only implement it on Bibliography form. Currently there is only one valid token in session, i will implement token form name to make it sure it will only validate the related form. Maybe i should try another hash mechanisme such as hash or sha512 function to generate random string

[2017-07-03 07:52] atsura opened #57 "Gagal menyimpan data peminjaman di database"
![untitled](https://user-images.githubusercontent.com/22289509/27782951-90cab912-5ffe-11e7-9494-2021ca90d3f4.png)

ketika saya menekan tombol buttom selesai transaksi muncul peringatan galat !data  peminjaman gagal disimpan kedalam basis data apakah ada yang tau solusi kenapa saya tidak dapat melakukan transaksi peminjaman

[2017-07-03 07:59] desawarna commented on #57
Pastikan pada mysql nya terdapat tabel loan untuk menyimpan Peminjaman,

[2017-07-03 08:05] atsura commented on #57
![loan](https://user-images.githubusercontent.com/22289509/27783582-fa9f661a-6000-11e7-835e-5f333565040a.png)
@desawarna sudah ada pak tapi tetap masih error begitu

[2017-07-03 08:07] desawarna commented on #57
Itu SLiMS yang Download kapan ? Pastikan pakai yang terbaru download di
Github ini

[2017-07-03 08:08] atsura commented on #57
yang terbaru sudah saya download dan saya tumpuk

[2017-07-03 08:09] buitenzorg812 commented on #57
@atsura sek, ditumpuk gimana ini? kalo boleh, tolong ceritakan kronologinya. terima kasih

[2017-07-03 08:12] desawarna commented on #57
Di install fresh aja, yg lama dihapus, database nya juga yang baru ,

jangan ditumpuk tumpuk 😆

[2017-07-03 08:12] atsura commented on #57
awal install Error requesting page : /slims8/admin/modules/circulation/circulation_action.php saya download slims yang ada di github terus saya tumpuk ke file saya error nya hilang tapi skrg error nya ganti yang skrg tidak dapat di simpan mungkin ada solusi

[2017-07-03 08:13] atsura commented on #57
ok saya cobahapus yang lama dulu

[2017-07-03 08:14] desawarna commented on #57
Kalau install dari Cpanel Softaculaus itu biasa nya lawas yg belum di-patch

Lebih baik nya upload sendiri, ambil code nya  dari Github

[2017-07-03 08:20] atsura commented on #57
ok saya coba upload sendiri dari kode github

[2017-07-03 08:20] atsura commented on #57
terima kasih

[2017-07-03 08:23] desawarna commented on #57
Oke sama sama kak Atsura , 😀

[2017-07-03 11:57] buitenzorg812 commented on #57
@desawarna dear kak atsura, ternyata, saya pun menemukan hal yang sama. kami akan menelusuri dulu yang perlu diperbaiki ada di mana ya :)

[2017-07-03 12:48] desawarna commented on #57
Terimakasih Pak @ArifSyamsudin 😁

[2017-07-03 13:38] heroesoebekti commented on #57
kak @atsura , jika melihat screenshot tabel loan, ada kolom yang belum ditambahkan jika menggunakan slims akasia terbaru, yaitu kolom **uid**.
![tabel lama](https://user-images.githubusercontent.com/2249323/27795227-773dbd10-602f-11e7-8391-7587f7d82f7a.png)
ini tabel terbaru
![tabel baru](https://user-images.githubusercontent.com/2249323/27795248-8c9a19ce-602f-11e7-8d3a-f21f3fb9d7a3.png)

[2017-07-03 14:26] buitenzorg812 commented on #57
@heroesoebekti mas heru, bikin pull request perbaikan donq mas

[2017-07-03 15:35] heroesoebekti commented on #57
Mas @buitenzorg812 , siap.
Kak @atsura untuk solusinya, silakan jalankan query dibawah pada database slims
`ALTER TABLE  `loan` ADD  `uid` INT( 11 ) NULL DEFAULT NULL ,
ADD INDEX (  `uid` ) ;`

[2017-07-03 15:35] buitenzorg812 commented on #57
@heroesoebekti terima kasih mas heru

[2017-07-03 17:10] desawarna commented on #57
Terima kasih Kak Heru Subekti 😉😉

[2017-07-04 18:41] matlam commented on #49
that is better, but it still has a problem if a user opens the same form in two windows. I don't know what the best solution is. Maybe something like this:
[code]
But this has the disadvantage that sessions grow over time.

For what purpose? A hash function in itself doesn't create a random string. You could generate one random value per session and use a cryptographic hash function to combine it

[2017-08-12 08:31] nalamapu commented on #49
How it will be helpful if add a field of current password? If current password doesn't match, password will not be changed.

[2017-09-01 19:45] joelphilippage opened #63 "Invalid Submission Token"
When adding a new item to a bibliography with the Add item Button, I get

when I click update. The item is still added though.

[2017-09-14 05:20] matthelosh opened #64 "Versi 8.3.1 source / Linux"
Menu toggle pada versi ini template default hilang.

[2017-10-30 07:20] kurnivan commented on #57
saya sebelumnya menggunakan slims 5, selanjututnya ingin melakukan update ke slims 8..., setelah saya pilih update slims tidak dapat melakukan pengembalian dan peminjaman buku dengan keterangan galat "peminjaman tidak dapat di simpan ke basisdata" untuk struktur database juga sudah saya lihat dan sudah ada field **uid** juga.

[2017-10-30 10:02] agungsugiarto opened #68 "Tanya"
Apakah ada EER Diagram untuk database slims8_akasia ?
saya ingin melihat relasi antar table agar lebih mudah memahami. Terimakasih

[2017-11-01 14:56] aquilardo opened #69 "The books cover is not showing properly in mobile devices"

[2017-11-02 21:08] #69 closed, assigned to nobody

[2017-11-07 10:54] buitenzorg812 commented on #68
sudah coba lihat yang ini, mas? memang berdasarkan versi senayan 3-stablem, tapi sebagian besar masih mengacu ke kerangka ini.

https://github.com/slims/s3-devdocs

[2017-11-07 15:55] aditya0909 commented on #68
Apakah sudah ada yang pernah login Slims akasia pakai LDAP ?
saya sudah mencoba dan selalu ada message **"username / password salah"**
mohon pencerahannya

terima kasih

[2017-11-10 16:57] agungsugiarto commented on #68
@buitenzorg812 terima kasih om, akan saya jadikan referensi untuk saya belajar

[2017-12-05 10:23] putradimas opened #72 "Backslash di URL merusak hyperlink jika slims dipasang di web root directory pada Windows"
Masalah ini sudah ada sejak slims cendana.

![image](https://user-images.githubusercontent.com/7010096/33601806-e44eb7a4-d9df-11e7-94bb-9b25c08706b8.png)

Masalahnya terdapat pada `sysconfig.inc.php` pada baris ke 117.

`$temp_senayan_web_root_dir = preg_replace('@admin.*@i', '', dirname(@$_SERVER['PHP_SELF']));`

Masalah tersebut muncul dari `dirname` di windows, yang memberikan backslash bukanny

[2017-12-07 01:00] hasansaifulrijal opened #74 "Thumbnail Cover Tidak Bisa Tampil"
Thumbnail Cover Promote Book pada halaman Home bisa tampil, namun pada hasil pencarian dan detail book cover tidak bisa tampil. Kendala ini muncul ketika SLiMS dipasang di hosting.

![capture1](https://user-images.githubusercontent.com/34324177/33693093-510420ac-db23-11e7-8e0a-9c98a4c84d45.PNG)

![capture3](https://user-images.githubusercontent.com/34324177/33693238-4c97c072-db24-11e7-9c07-8d9b7f3

[2017-12-18 09:41] #74 closed, assigned to nobody

[2017-12-20 03:02] equivalentideas opened #76 "Error loading database setup"
When going through in install steps described here http://slims.web.id/goslims/?wpdmpro=dokumentasi-resmi-slims-bahasa-inggris , I cannot load the senayan.sql because of an error here https://github.com/slims/slims8_akasia/blob/master/install/senayan.sql#L12-L18 .

[code]

I'm trying to install on macOS, with mysql version:

[code]

Is there a dependency on a specific version of mysql? Also, is th

[2017-12-23 12:26] buitenzorg812 opened #77 "Pesan galat pada laporan inventarisasi"
Muncul pesan galat seperti ini:

Notice: Constant INDEX_AUTH already defined in /var/www/html/slims8testing/admin/modules/stock_take/st_report.php on line 24

ketika membuka laporan kegiatan hasil inventarisasi. versi php adalah 7.1.12.

![selection_147](https://user-images.githubusercontent.com/125229/34319532-19913c26-e817-11e7-8713-3000d23437ba.png)

[2018-01-05 02:44] khabar140 commented on #57
permisi .. saya juga mengalami hal yg sama, bahkan pada pengembalian buku juga, data buku tetap terpampang meskipun sudah d klik tombol pengembailan.
mohon bantuannya.
 saya menggunakan server debian.

[2018-01-05 02:49] slims commented on #57
@khabar140 Ga ngerti maksud pertanyaannya apa ya

[2018-01-05 03:21] khabar140 commented on #57
@slims mksdnya.. slims saya tidak bisa melakukan transaksi peminjaman, dan pengembalian buku..  apakah ada permision khusus, krna slims saya sudah ada di server.
maaf klo membingungkan,

[2018-01-05 03:22] slims commented on #57
@khabar140 Sebelumnya sdh melakukan apa? Upgrade? Bisa lebih detail?

[2018-01-05 03:25] khabar140 commented on #57
sebelumnya saya upgrade,, krna slims awal terhapus dr server. jdi di install lagi, tp yang g fresh sprti dimaksud di atas. dan msih belum mencoba install fresh. @slims

[2018-01-05 03:28] slims commented on #57
@khabar140 Upgrade nya prosedurnya gmn?

[2018-01-05 03:53] khabar140 commented on #57
stelah kejadian terhapus itu, terhapus foldernya.. saya download lagi source dr git, krn pikir saya cuma aplikasinya saja database masih ada(tidak terhapus). dijalankan, pilih instal dr awal ato upgrade, saya pilih upgrade. jalan sperti biasanya, untung ada file backup data buku ex:cover,dll. login pustakawan bisa.
apakah ada permision lain di tiap folder slims?? saya bingung krna tk ada tanda err

[2018-01-05 04:23] slims commented on #57
@khabar140 Coba cek apakah di table loan ada field uid

[2018-01-05 05:50] khabar140 commented on #57
ada..
apa mw d install freshh??
klo ada tutorial backup database yang bner buat slims, bagi link om. hhe
karena database isinya banyak.

[2018-01-05 09:17] slims commented on #57
@khabar140 Export database nya

[2018-01-05 11:51] slims commented on #57
@slims Betul

[2018-01-08 08:21] kathleenazali opened #79 "Aturan Peminjaman (Loan Rules) tidak bekerja"
Halo, saya barusan membuat periode peminjaman dari 14 hari menjadi 21 hari. Namun meski saya ubah, dan bahkan saya coba hapus aturan peminjaman yang lama2, tetap saja tanggal harus kembali yang muncul 14 hari dari tanggal peminjaman. Tanggal harus kembali harus diubah secara manual agar menjadi 21 hari. Kira2 kenapa ya?

![screen shot 2018-01-08 at 15 06 13](https://user-images.githubusercontent.c

[2018-01-08 08:26] slims commented on #79
@kathleenazali Aturan peminjaman yang baru baru akan berdampak kepada transaksi yang dilakukan setelah aturan peminjaman terbaru diberlakukan. Yang lama tetap tercatat dengan masa peminjaman aturan peminjaman yang lama.

[2018-01-08 08:42] kathleenazali commented on #79
Terimakasih @slims. Namun ini sebetulnya transaksi baru, yang dilakukan setelah aturan peminjaman terbaru diberlakukan. Tetap tidak mau berubah menjadi 21 hari.

[2018-01-08 11:51] slims commented on #79
@kathleenazali Berarti loan rules yg di set tdk meencakup user yg mslakukan transaksi

[2018-01-08 12:05] kathleenazali commented on #79
Sudah, untuk semua user groups sudah disetel 21 hari, tapi tetap semua transaksi yang dilakukan tetap menerapkan 14 hari.

![screen shot 2018-01-08 at 19 02 06](https://user-images.githubusercontent.com/11498979/34669924-a3878390-f4a6-11e7-8c8d-90643e2e7966.png)
Screenshot aturan peminjaman

![screen shot 2018-01-08 at 19 02 54](https://user-images.githubusercontent.com/11498979/34669950-c3e2891e-

[2018-01-08 12:17] slims commented on #79
@kathleenazali Coba tes bikin loan rules nya lebih spesifik. Membertype dan tipe koleksinya nya jangan dikosongin.

[2018-01-08 12:30] kathleenazali commented on #79
Sebetulnya sebelumnya tipe koleksi tidak saya kosongi sih, tapi saya masukkan "SEMUA". Ini saya coba ganti tipe koleksinya, dan sekarang bisa, untuk tipe koleksi yang relevan.

![screen shot 2018-01-08 at 19 21 28](https://user-images.githubusercontent.com/11498979/34670694-015f81ea-f4aa-11e7-8b77-d6c0e4bc9a25.png)
Tapi ini berarti kategori "SEMUA" dalam tipe koleksi tidak bekerja ya?

![screen sh

[2018-01-09 00:56] slims commented on #79
@kathleenazali Betul. Setahu saya harus spesifik.

[2018-01-15 08:11] ghost opened #80 "Gagal transaksi di Sirkulasi (Pengembalian buku gagal)"
Dear Slims

mohon dibantu, untuk slims8 akasia terdapat error pada sirkulasi, yaitu ketika buku dikembalikan, keterangan sudah sukses tp peminjaman tetap muncul. apakah ada solusinya?

![image](https://user-images.githubusercontent.com/35447585/34932640-38f07658-fa06-11e7-8765-0e332ed7d22c.png)

[2018-01-15 08:15] ghost commented on #80
![image](https://user-images.githubusercontent.com/35447585/34932754-ca4c1b34-fa06-11e7-95d8-81aa6de4bdd9.png)

Gagal tambah peminjaman

[2018-01-15 08:20] slims commented on #80
@caturfp Apakah sudah dilakukan upgrade tabel sql akasia?

[2018-01-15 08:25] ghost commented on #80
saya menggunakan db slim7 pak, upgrade ketika install slim8. apakah ada prosedur lainnya untuk upgrade?

[2018-01-15 08:28] slims commented on #80
@caturfp Coba db slims7nya diupgrade menggunakan db akasia

[2018-01-15 10:24] slims commented on #80
@caturfp Sepertinya proses upgrade nya belum sempurna. Struktur database nya diupdate juga kah?

[2018-01-16 00:23] hrace009 opened #81 "cara menambahkan super user"
halo, bagai mana cara menambah super user? seperti ID awal saat installasi. karena di instansi pustaka kami akan ada 2 administrator yang bertanggung jawab untuk mengelola aplikasi ini. dan masing2 administrator harus punya 1 ID super user.

[2018-01-16 01:07] idoalit commented on #81
@hrace009 Saat ini hanya ada 1 super user di dalam SLiMS, tidak bisa lebih.

[2018-01-16 03:47] hrace009 commented on #81
ohhh begitu, mudah2an kedepan nya bisa multi super user, karena akan sangat berguna untuk penggunaan multi super user

[2018-01-16 04:02] slims commented on #81
@hrace009 terima kasih banyak masukannya 🙏🙏🙏

[2018-01-16 05:45] desawarna commented on #81
Di SLiMS bisa login multi user,
Buat tipe pengguna, tipe pengguna terkait dengan hak akses ke modul SLiMS,

Kemudian

Buat user nya ,

Nanti bisa login pakai user yg banyak

Pada tanggal 16 Jan 2018 11.02 AM, "Senayan Library Management System
(SLiMS)" <notifications@github.com> menulis:

@hrace009 <https://github.com/hrace009> terima kasih banyak masukannya 🙏🙏
🙏

—
You are receiving this because

[2018-01-31 04:05] ghost commented on #80
Done. Db upgrade satu persatu pak. Trimaksh pak

[2018-01-31 04:06] #80 closed, assigned to nobody

[2018-01-31 06:02] chandraes opened #84 "Insert flipbook"
Bisa kah slims ini untuk insert flipbook??

[2018-01-31 06:03] buitenzorg812 commented on #84
@eigernick bisa. silahkan kontak komunitas slims banten untuk mendapatkan plugin flipbook

[2018-01-31 11:13] desawarna commented on #84
Bisa 😁

Pada tanggal 31 Jan 2018 1.03 PM, "Arif Syamsudin" <notifications@github.com>
menulis:

[2018-02-05 03:05] chandraes opened #88 "Web site Visitor counter"
Slims akasia ada plugin buat penghitungan pengunjung website ny gak ya??

[2018-02-05 03:06] chandraes commented on #84
terima kasih atas jawaban ny 👍

[2018-02-05 04:24] #84 closed, assigned to nobody

[2018-02-06 03:16] miftahket01 commented on #57
![eror slims](https://user-images.githubusercontent.com/36180162/35840089-9e2d222e-0b26-11e8-8387-2bf718cbd781.PNG)
kenap saya import eror di php my admin 000webhost

[2018-02-06 03:19] idoalit commented on #57
@miftahket01 database yg dituju salah itu. 🤦🏻‍♂️

[2018-02-06 03:21] miftahket01 commented on #57
ada yang tau cara mengonlinkan slims pakai hostingan free
cara yang di google gagal pasti saat impor jawabnya begitu

[2018-02-06 03:37] idoalit commented on #57
@miftahket01 pilih databasenya (...slims8) dulu baru import.

[2018-02-06 03:44] miftahket01 commented on #57
ya makasih pak sudah bisa

[2018-02-06 03:54] miftahket01 commented on #57
cara berikutnya bagaimana pak

[2018-02-10 05:47] miftahket01 commented on #25
![bukuninduk](https://user-images.githubusercontent.com/36180162/36058970-9228b6ae-0e60-11e8-97f6-933c1f168f00.PNG)

di buku induk eror saran dong mastah

[2018-02-12 22:41] matlam commented on #49
Is there any progress on this?

[2018-02-27 09:32] dbrw opened #90 "Setting for nginx"
Dear, slims team!
Thank you for this awesome application.

In my institution, we use nginx instead of apache. Could you give me an example of server block to install slims on nginx web server?

[2018-02-27 09:39] buitenzorg812 commented on #90
@dbrw try to look at https://perpustakaan.fk.ui.ac.id/opac/

[2018-02-27 10:08] idoalit commented on #90
Try this.
[code]

[2018-02-28 01:51] dbrw commented on #90
@idoalit thanks, will try this out.

[2018-03-02 02:25] #90 closed, assigned to nobody

[2018-03-02 02:33] dbrw opened #91 "Slims 8.3.1 cannot create new system user"
I've managed to install fresh slims with this configuration:
- Maria DB version 5.5.5-10.1.26-MariaDB-0+deb9u1
- PHP PHP 7.0.19-1
- nginx 1.10.3

When I try to create new librarian on system - Librarian & System Users - add new user. After I filled up all the field and press save, the browser seems reloading the page but nothing else happend. I checked on the database, no user been added.

This be

[2018-03-02 03:46] dbrw commented on #88
you may create your own plugin or use 3rd party service like google analytics.

[2018-03-02 06:56] desawarna commented on #88
belum ada :D

2018-03-02 10:47 GMT+07:00 dbrw <notifications@github.com>:

[2018-04-05 10:36] #72 closed, assigned to nobody

[2018-04-05 10:44] putradimas commented on #91
Try to use php 5.6

[2018-04-05 12:26] dbrw commented on #91
managed to solve the problem by using apache web server, PHP version seems doesn't affecting this behaviour.

[2018-04-05 12:26] #91 closed, assigned to nobody

[2018-04-25 05:18] khabar140 opened #94 "(Tanya) tidak bisa cetak kartu member"
saya mencoba untuk mencetak kartu anggota, tetapi muncul jendela pop up
"**Object not found!**
The requested URL was not found on this server. The link on the referring page seems to be wrong or outdated. Please inform the author of that page about the error.

If you think this is a server error, please contact the webmaster.

**Error 404**
localhost
Apache/2.4.17 (Win32) OpenSSL/1.0.2d PHP/5.5.30

[2018-05-03 13:07] desawarna opened #95 "barcode problem jika nomor item pakai space char and slash char"
barcode problem jika nomor item pakai space char and slash char.
Dahulu pernah difix  ada di https://github.com/dicarve/slims8_akasia/commit/24588aeaaa4d95db09077eea22374290b793a3dd

[2018-06-03 14:18] miftahafina opened #97 "Penerapan auto increment pada kode eksemplar dan kode inventaris"
Bagaimana cara menerapkan auto increment pada kode eksemplar dan kode inventaris pada slims akasia?

Terima kasih

[2018-06-04 07:12] #97 closed, assigned to nobody

[2018-06-21 03:22] jrsfaisal opened #98 "[Security Bug] Reflected XSS Pada Modul Bibliography di Parameter Keywords"
Halo,

Saya menemukan bug reflected pada module Bibliography di parameter keywords. Melalui bug ini dapat berdampak antara lain,
- Dapat digunakan untuk mengambil cookie admin yang sedang login.
- Dapat digunakan untuk redirect ke malicious site yang mengandung malware.
- Dapat digunakan untuk mendowload malware.

Proof of Concepts
1. Kunjungi menu bibliography melalui URL http://192.168.100.18:81

[2018-06-21 03:44] jrsfaisal opened #99 "[Security Bug] Reflected XSS Pada Modul Circulation di Parameter Keywords"
Halo,

Saya menemukan bug reflected pada module Circulation di parameter keywords. Melalui bug ini dapat berdampak antara lain,
- Dapat digunakan untuk mengambil cookie admin yang sedang login.
- Dapat digunakan untuk redirect ke malicious site yang mengandung malware.
- Dapat digunakan untuk mendowload malware.

Proof of Concepts
1. Kunjungi menu Circulation melalui URL http://192.168.100.18:81/s

[2018-06-21 03:49] jrsfaisal opened #100 "[Security Bug] Reflected XSS Pada Modul Membership di Parameter Keywords"
Halo,

Saya menemukan bug reflected pada module Circulation di parameter keywords. Melalui bug ini dapat berdampak antara lain,
- Dapat digunakan untuk mengambil cookie admin yang sedang login.
- Dapat digunakan untuk redirect ke malicious site yang mengandung malware.
- Dapat digunakan untuk mendowload malware.

Proof of Concepts
1. Kunjungi menu Membership melalui URL http://192.168.100.18:81/sl

[2018-06-21 03:56] jrsfaisal opened #101 "[Security Bug] Reflected XSS Pada Modul Master File di Parameter Keywords"
Halo,

Saya menemukan bug reflected pada module Circulation di parameter keywords. Melalui bug ini dapat berdampak antara lain,
- Dapat digunakan untuk mengambil cookie admin yang sedang login.
- Dapat digunakan untuk redirect ke malicious site yang mengandung malware.
- Dapat digunakan untuk mendowload malware.

Proof of Concepts
1. Kunjungi menu Master File melalui URL http://192.168.100.18:81/s

[2018-06-21 04:00] jrsfaisal opened #102 "[Security Bug] Reflected XSS Pada Modul Stock Take di Parameter Keywords"
Halo,

Saya menemukan bug reflected pada module Circulation di parameter keywords. Melalui bug ini dapat berdampak antara lain,
- Dapat digunakan untuk mengambil cookie admin yang sedang login.
- Dapat digunakan untuk redirect ke malicious site yang mengandung malware.
- Dapat digunakan untuk mendowload malware.

Proof of Concepts
1. Kunjungi menu stock take melalui URL http://192.168.100.18:81/sl

[2018-06-21 04:28] jrsfaisal opened #103 "[SECURITY BUG] Full Account Take Over Via Bypass CSRF Protection On Update Admin Features"
Halo,

Saya menemukan security bug pada fitur update admin, pada fitur tersebut sudah mempunyai CSRF protections namun dapat di bypass.

Melalui bug ini dan kecerobohan pengguna (admin level) dapat dimanfaatkan oleh attacker untuk mengambil alih akun admin secara penuh.

Proof of concept

1. Ketika melakukan update data admin sudah terdapat CSRF token.
![6_bypass csrf 1](https://user-images.github

[2018-07-13 13:33] zainalfh opened #104 "Gagal load menu import data membership"
Saya mendapatkan pesan ini ketika ingin mengimport data csv member

dan ada pesan lain yang muncul dengan redaksi yang mirip ketika membuka beberapa menu, seperti bibliografi dan lainnya

sebelumnya saya mengimport data bibliografi sekitar 3000 data. berhasil, dan sempet muncul datanya. tapi setelah beberapa kadang muncul pesan yang ke 2 dan tidak tampil data bukunya

Mohon bantuannya, Terimakasih

[2018-07-25 04:52] titounnes opened #105 "penjelasan mengenai requirement di readme"
setelah berkutat agak lama, saya akhirnya berhasil install senayan akasia diserver dengan spesifikasi sbb
os centos 7
webserver nginx
php versi 7.2.x
database mariadb
di awal saya mengalami kendala dengan gettext yg tidak lazim.
umumnya gettext menggunakan _('foo') bukan __('foo'), informasi yg muncul saat instalasi pun hanya error 500
saya coba cari tulisan mengenai problem ini dan tidak ada satu

[2018-07-25 08:07] buitenzorg812 commented on #105
terima kasih atas sarannya. akan kami tambahkan dalam README atau pengingat dalam installer.

[2018-07-25 08:07] #105 closed, assigned to nobody

[2018-07-27 07:03] buitenzorg812 commented on #105
pengingat dalam installer sudah ditambahkan. semoga bermanfaat.

[2018-07-27 13:06] titounnes commented on #105
sukses selalu mas..

[2018-08-09 22:40] drajathasan commented on #103
Works disaya, pada app_user.php tidak diterapkan csrf token check yang menyebabkan bug ini dapat diexploit dengan mudah. karena pada dasarnya setiap form di SLiMS sudah dilengkapi CSRF token.

cukup menambahkan skrip ini

if (!simbio_form_maker::isTokenValid()) {
    utility::jsAlert(__('Invalid form submission token!'));
    utility::writeLogs($dbs, 'staff', $_SESSION['uid'], 'system', 'Invalid f

[2018-08-09 22:51] drajathasan commented on #98
`if (isset($_GET['keywords']) AND $_GET['keywords']) {
  $msg = str_replace('{result->num_rows}', $datagrid->num_rows, __('Found <strong>{result->num_rows}</strong> from your keywords')); //mfc
  echo '<div class="infoBox">'.$msg.' : "'.**$_GET['keywords']**.'"<div>'.__('Query took').' <b>'.$datagrid->query_time.'</b> '.__('second(s) to complete').'</div></div>'; //mfc
  }`

parameter $_GET['keywo

[2018-08-20 23:30] desawarna commented on #104
Urutan kolom nya sudah tepat ? Format file harus CSV
import data jangan berulang , kalau berulang akan tumpukan data nya :smiley: :smiley: :smiley:

:bookmark_tabs: baca tutorila ini ya [Tutorial Import CSV Biblio](https://drive.google.com/open?id=0B7roYWd822pPel90VmxYSWJnX1E)

[2018-08-20 23:32] desawarna commented on #94
Asal nya diapain ?
Utak atik source code ?
:smiley_cat: :smiley_cat: :smiley_cat:

[2018-08-21 08:18] pancaz opened #108 "[Bug]Tampilan Cetak Kartu Anggota Berantakan - Slim Akasia"
Tampilan cetak kartu anggota berantakan ketika sistem diubah ke bahasa indonesia.
sedangkan ketika menggunakan bahasa inggris normal.
slim akasia

[2018-08-23 04:06] buitenzorg812 commented on #108
@pancaz anu gaes, untuk masalah ini, apakah bisa diberikan solusi permanen?

[2018-08-26 10:45] ajiwo opened #109 "Status API"
Apakah API di slims8_akasia sudah bisa digunakan? Transaksi apa saja yang sudah bisa dilakukan melalui API?

[2018-09-06 17:37] muhfadhils96 opened #111 "ERROR SMS Gateway Berbasis WEB"
Kak, tolong sulusinya =
"Error requesting page : /admin/modules/sms_gateway/index.php?ajaxload=1". Sepertinya pada penyesuain path daemon.bat bagian letak PHP...
Tolong pencerahannya...

[2018-09-17 00:50] rjs5327 opened #113 "Image upload"
The image upload is broken, i tried in several browsers and what it does is doubles the ".png" or ".jpeg" then it wont display in the OPAC.  So i tried manually modifying the database and the issue still arises. Im not familiar enough with the project to find the issue. But i think it has to do with the way it is stored. I have a feeling it is being stored in the mysql database, not as a file on t

[2018-09-18 11:19] matlam commented on #113
The image upload in the bibliography works for me. The .jpg is doubled, but it still shows the image. Or are you referring to another image upload?
The images should be uploaded to the folder images/docs/ . Is your uploaded image there? Or is it maybe not writeable by your webserver?

[2018-09-18 21:06] ucuphal opened #115 "Multiple Database"
bagaimana cara menambahkan koneksi 2 database di slims..

[2018-09-19 08:02] dbrw opened #116 "Is there any plan to add tests?"
I mean, we have this big repo,  shouldn't we add tests so others can confidently contribute to the code base?

[2018-09-19 09:46] buitenzorg812 commented on #115
kami belum pernah mencobanya mas.

[2018-09-26 00:15] detygon opened #118 "Rewriting/Improving the codebase in next major release"
Hi, thank you for your awesome work on this software. It has a great user interface and is easy to use. So, I would like to contribute to this project and add new features but the codebase is incredibly hostile to a new contributor. There is a lack of documentation, the architecture is inconsistent, the config files are hard to understand, the templates are hard to reason about thus making impossi

[2018-09-30 00:25] drajathasan commented on #115
Bisa tuh, tinggal mainin alurnya aja.

[2018-10-11 02:05] Hardikris opened #119 "Idea for authentification using google oauth"
I need to add option for authentification using g-suite user / google oauth. Is there any plan to add it? or some sugestions to do it?

I still search about it.

thanks

[2018-10-14 07:37] drajathasan opened #121 ""Field 'classification' doesn't have a default value" pada mysql 5.7.23 di pop_topic.php"
Solusi terkini
`ALTER TABLE `mst_topic` CHANGE `classification` `classification` VARCHAR(50) CHARACTER SET utf8 COLLATE utf8_unicode_ci NULL COMMENT 'Classification Code';`

## Demo
[ini video penjelasannya](https://archive.org/download/mst_topic/mst_topic.mp4)

[2018-10-23 05:42] idoalit opened #122 "Implement the ElasticSearch indexer engine"
Reference:

- [https://www.elastic.co/products/elasticsearch](https://www.elastic.co/products/elasticsearch)

**notes:**
Please, use [dev-8.5](https://github.com/slims/slims8_akasia/tree/dev-8.5) branch to work
[code]

[2018-10-23 05:43] idoalit opened #123 "Implement the Solr indexer engine"
Reference:

- [http://lucene.apache.org/solr/](http://lucene.apache.org/solr/)

**notes:**
Please, use [dev-8.5](https://github.com/slims/slims8_akasia/tree/dev-8.5) branch to work
[code]

[2018-10-23 08:02] #77 closed, assigned to mucill, idoalit, heroesoebekti

[2018-10-23 08:04] #68 closed, assigned to nobody

[2018-10-23 08:14] idoalit commented on #3
Pembuatan module baru bisa dilakukan dengan:

- [x] Mebuat folder baru (misalkan `plugins`) di dalam folder `<slims_root_directory>/admin/modules`
- [x] Tambahkan file `index.php` serta `submenu.php` didalam folder tersebut.
- [ ] Login ke SLiMS sebagai administrator (admin)
- [ ] Buka menu `system` >> `modules`
- [ ] Lalu klik menu `Add new Modules` dan isikan informasi yang dibutuhkan. `Module p

[2018-10-23 08:14] #3 closed, assigned to nobody

[2018-10-24 05:23] idoalit opened #124 "Copy cataloguing with marc sru"
**notes:**
Please, use [dev-8.5](https://github.com/slims/slims8_akasia/tree/dev-8.5) branch to work
[code]

[2018-10-24 05:24] idoalit opened #125 "Make z3950 service as optional"
**notes:**
Please, use [dev-8.5](https://github.com/slims/slims8_akasia/tree/dev-8.5) branch to work
[code]

[2018-10-24 05:32] idoalit opened #126 "Show biblio custom data on OPAC details"
**notes:**
Please, use [dev-8.5](https://github.com/slims/slims8_akasia/tree/dev-8.5) branch to work
[code]

[2018-10-25 15:59] aferrop opened #129 "Improve export/import to reflect more data"
Currently the level of authority, subject level and type of content/media/carrier are not exported. Something like author_name::level
A simple check should be made when importing as the ISBN or title /publisher/year to alert the librarian that he is duplicating data.

[2018-11-14 14:17] aferrop commented on #126
+1, a necessary improvement

[2018-11-26 23:02] soerpoers commented on #113
that would be interesting – yeah – so you havn't to upload your own pics, if they were also available via net.

[2018-11-27 09:25] buitenzorg812 opened #132 "invalid form submission token"
![screenshot from 2018-11-27 16-22-07](https://user-images.githubusercontent.com/125229/49071539-c4f56980-f260-11e8-8abb-32aa8145a086.png)
muncul waktu entri data bibliografi.

[2018-11-27 09:27] buitenzorg812 opened #133 "Automatic page reload"
laman bibliografi atau daftar item tidak otomatis reload setelah menghapus data bibliografi atau item. terlampir detil environment yang saya gunakan.
![screenshot from 2018-11-27 16-26-21](https://user-images.githubusercontent.com/125229/49071749-40efb180-f261-11e8-80a1-39d2733cb03d.png)

[2018-11-27 09:30] buitenzorg812 opened #134 "Galat terkait Order By Group pada MySQL 5.7"
beberapa pesan serupa ditemukan pada due date warning dan loan list by member
![screenshot from 2018-11-27 16-28-48](https://user-images.githubusercontent.com/125229/49071975-c07d8080-f261-11e8-98ca-ae1ae295190e.png)

[2018-11-30 14:51] buitenzorg812 opened #135 "Gagal ubah tema"
Setelah pull perubahan terbaru pada dev-8.5, terdapat tema SchILS untuk admin. Kemudian lepas memilih tema tersebut, akan kembali ke tema default, menemukan galat, tidak bisa mengaktifkan tema default dan yang lainnya.
![screenshot from 2018-11-30 21-49-14](https://user-images.githubusercontent.com/125229/49296158-149a9600-f4ea-11e8-96ea-b424b1db123f.png)

[2018-11-30 14:54] buitenzorg812 opened #136 "Cannot add new system user"
ketika mencoba menambahkan system user, muncul berbagai pesan galat seperti di bawah:
![screenshot from 2018-11-30 21-41-28](https://user-images.githubusercontent.com/125229/49296261-53305080-f4ea-11e8-99c8-6dd078d65786.png)
![screenshot from 2018-11-30 21-42-59](https://user-images.githubusercontent.com/125229/49296280-63e0c680-f4ea-11e8-927d-3b9fbb594fca.png)
![screenshot from 2018-11-30 21-44-1

[2018-12-01 14:08] buitenzorg812 commented on #135
sudah diresolve.

[2018-12-01 14:08] #135 closed, assigned to mucill, idoalit, heroesoebekti

[2018-12-01 14:11] buitenzorg812 opened #137 "User profile edit page"
Tampilan tidak paripurna ketika mencoba menyunting profil admin.
![screenshot from 2018-12-01 21-09-38](https://user-images.githubusercontent.com/125229/49329155-9273a580-f5ad-11e8-8658-37dddcb0fd1f.png)

[2018-12-02 04:31] buitenzorg812 commented on #125
Baris Z3950 service pada submenu di modul bibliografi sudah di non-aktifkan.

[2018-12-02 04:31] #125 closed, assigned to nobody

[2018-12-02 05:11] buitenzorg812 commented on #137
tampilan tersebut muncul kalau kita mau mengubah profil admin dengan klik pada thumbnail foto admin. kalau melakukan ubah profil dengan klik pada sub menu "change user profiles," tampilan penyunting muncul dengan baik.

[2018-12-02 05:13] buitenzorg812 opened #138 "Shortcut not visible"
Ketika tema admin schils aktif, shortcut yang sudah dipilih tidak muncul. Sementara ketika menggunakan tema admin default, shortcutnya muncul.
![screenshot from 2018-12-02 12-09-14](https://user-images.githubusercontent.com/125229/49335973-a100a200-f62b-11e8-8888-8e28f8b3ef7a.png)
![screenshot from 2018-12-02 12-11-26](https://user-images.githubusercontent.com/125229/49335974-a1993880-f62b-11e8-92

[2018-12-03 07:55] buitenzorg812 opened #139 "Missing Advance Search Option"
Ketika mengubah tema OPAC menjadi lightweight, tidak ditemukan opsi untuk melakukan Advance Search.
![screenshot from 2018-12-03 14-51-37](https://user-images.githubusercontent.com/125229/49360326-6ec67180-f70b-11e8-9cd9-422362da8a8f.png)
![screenshot from 2018-12-03 14-51-42](https://user-images.githubusercontent.com/125229/49360328-6f5f0800-f70b-11e8-86b4-5299ded7eb53.png)

[2018-12-05 01:14] #138 closed, assigned to mucill, idoalit, heroesoebekti

[2018-12-05 08:09] buitenzorg812 commented on #136
masalah ini tidak terjadi dengan spesifikasi mesin tes seperti di bawah:
![screenshot from 2018-12-05 15-06-14](https://user-images.githubusercontent.com/125229/49499100-c4cc1e00-f89f-11e8-94cf-0d3e9b381145.png)

[2018-12-05 08:11] buitenzorg812 commented on #134
galat seperti di atas tidak terjadi dengan spesifikasi mesin tes seperti di bawah:
![screenshot from 2018-12-05 15-06-14](https://user-images.githubusercontent.com/125229/49499212-fb099d80-f89f-11e8-9c5f-97bc8efb2873.png)

[2018-12-05 10:04] #124 closed, assigned to idoalit

[2018-12-05 13:13] #132 closed, assigned to dicarve, hendrowicaksono, idoalit, heroesoebekti

[2018-12-05 13:53] buitenzorg812 opened #141 "Data topik tidak ter-input"
Apabila kita memasukkan topik baru, data topik tidak muncul dan tidak tersimpan di dalam pangkalan data, walaupun sistem menginformasikan bahwa data berhasil ditambahkan.
![screenshot from 2018-12-05 20-35-11](https://user-images.githubusercontent.com/125229/49517860-c7466c00-f8cf-11e8-9200-34b368da994f.png)
![screenshot from 2018-12-05 20-35-22](https://user-images.githubusercontent.com/125229/49

[2018-12-05 14:10] #137 closed, assigned to mucill, idoalit

[2018-12-05 15:45] #141 closed, assigned to hendrowicaksono, idoalit, heroesoebekti

[2018-12-05 16:21] #136 closed, assigned to mucill, idoalit

[2018-12-05 16:37] #133 closed, assigned to dicarve, hendrowicaksono, mucill, idoalit, heroesoebekti

[2018-12-05 17:12] buitenzorg812 commented on #134
masalah diselesaikan dengan menyunting berkas my.cnf dan menambahkan baris ini di bawah [mysqld]:

sql_mode = ""

bahan rujukan:
https://stackoverflow.com/questions/23921117/disable-only-full-group-by

[2018-12-05 17:12] #134 closed, assigned to dicarve, hendrowicaksono, mucill, idoalit, heroesoebekti

[2018-12-06 02:34] #126 closed, assigned to mucill, idoalit

[2018-12-06 10:44] #139 closed, assigned to dicarve, mucill, idoalit, heroesoebekti

[2018-12-08 15:10] #88 closed, assigned to nobody

[2018-12-10 03:23] buitenzorg812 opened #147 "Custom member field failed to show"
Ketika mencoba membuat custom field untuk member, custom field yang sudah didefinisikan tidak muncul pada form input data member.

[2018-12-12 02:46] #147 closed, assigned to hendrowicaksono, idoalit, heroesoebekti

[2018-12-20 01:38] fitra2404 commented on #25
Mau nanya.. ketika login ke member area di slims muncul error fatal: call to undefined function password_verify() in C:\xampp\htdocs\slims8\lib\member_logon.inc.php on line 192

[2018-12-20 01:41] fitra2404 commented on #25
Dan juga ktika sya add new member jika sya isi new password dan confirm new password itu tidak bisa tersave.. mohon pencerahannya??

[2018-12-20 01:42] slims commented on #25
@fitra2404 Pakai php versi minimal 5.5 krn fungsi password_verify() baru ada di php 5.5

[2018-12-20 01:43] slims commented on #25
@fitra2404 Sama dengan jawban sebelumnya, pakai php mininal versi 5.5

[2018-12-20 01:44] fitra2404 commented on #25
Maksudnya gimana gan.. apa yg sya hrus ganti??

Pada tanggal Kam, 20 Des 2018 09:42 Senayan Library Management System
(SLiMS) <notifications@github.com menulis:

[2018-12-20 01:51] slims commented on #25
@fitra2404 Cek di sistem nya pakai php versi brp

[2018-12-20 02:00] fitra2404 commented on #25
Di xampp nya yah?

Pada tanggal Kam, 20 Des 2018 09:51 Senayan Library Management System
(SLiMS) <notifications@github.com menulis:

[2018-12-20 02:04] fitra2404 commented on #25
Versi php sya 5.4.19.0 gan.

Pada tanggal Kam, 20 Des 2018 10:00 Fitra Fitra <fitra241997@gmail.com
menulis:

[2018-12-20 02:09] slims commented on #25
@fitra2404 Iyes

[2018-12-27 11:20] buitenzorg812 opened #156 "Removing Shorcut"
Unable to completely removing shortcuts that have been made. You also cannot make a bulk delete of whole shortcuts. You need to remove one shortcut then click save to remove a shortcut.

[2018-12-27 12:10] #156 closed, assigned to dicarve, mucill, idoalit, heroesoebekti

[2018-12-27 12:11] buitenzorg812 commented on #156
solved.

[2018-12-27 17:48] buitenzorg812 opened #157 "Compact dashboard page"
Tampilan laman dashboard dibuat kompak, tanpa harus menggulung layar laman dashboard, untuk melihat bagian bawah yang tidak perlu.

![screenshot from 2018-12-28 00-35-30](https://user-images.githubusercontent.com/125229/50489422-27957d00-0a3a-11e9-950d-4be273bca0ae.png)

[2018-12-27 21:55] idoalit commented on #157
@buitenzorg812 Kayaknya susah & kurang recommend, mengingat ukuran layar berbeda beda dan konten didalamnya yg dinamis.

[2018-12-28 13:44] buitenzorg812 commented on #157
oke siap mas. diclose aja tiketnya ya.

[2018-12-28 13:44] #157 closed, assigned to mucill, idoalit, heroesoebekti

[2018-12-28 14:17] buitenzorg812 opened #161 "Background picture on circulation page"
Muncul gambar latar seperti pada tangkapan layar terlampir, pada highlight laman sirkulasi. Gambar latar yang sama muncul pula pada saat upload list di menu stock take.
![screenshot from 2018-12-28 21-15-22](https://user-images.githubusercontent.com/125229/50518016-f5d9f000-0ae5-11e9-8298-9fc3ca578b01.png)

[2018-12-28 14:19] mucill commented on #161
Untuk template default baiknya diubah ke Schils, karena memang belum kompatibel Bootstrap 4

[2019-01-09 01:00] buitenzorg812 opened #164 "Buffering video flv"
ketika menampilkan berkas multimedia (video) dalam format .flv, video tidak muncul dan seperti buffering.
![screenshot from 2019-01-09 07-59-30](https://user-images.githubusercontent.com/125229/50868951-8c5eb900-13e4-11e9-9183-7301864decb4.png)

[2019-01-09 01:02] buitenzorg812 opened #165 "Mepet margin atas"
Penampil berkas multimedia (video) terlalu mepet dengan margin atas layar penampil.
![screenshot from 2019-01-08 13-51-27](https://user-images.githubusercontent.com/125229/50869008-d2b41800-13e4-11e9-84d7-11c4532652bb.png)

[2019-01-09 01:19] buitenzorg812 opened #166 "Shortcut setting error"
Sub-menu Shorcut Setting pada user selain super admin, menampilkan laman content, alih2 menampilkan laman pemintas.

[2019-01-20 16:15] khairilalkudus commented on #57
![tanpa judul](https://user-images.githubusercontent.com/46869000/51441899-2984f000-1d09-11e9-89b2-c8e6668a6fe6.png)
milik saya juga seperti itu setelah upgrade dari slims 7 ke slims 8

[2019-01-29 03:52] agilurur opened #167 "Fatal error: call to undefined funcition password_verify in /admin_logon.inc.php on line 229"
Sya sudah onlinekan tpi pas mau login slims 8 akasia muncul peringatan begini, solusinya gimana nih?

[2019-01-29 04:04] slims commented on #167
@agilurur Di hosting nya pakai php versi brp?

[2019-01-29 04:07] agilurur commented on #167
7.2.7

[2019-01-29 04:21] slims commented on #167
@agilurur Yakin versi segitu? Kalau iya, harus nya tdk ada masalah dg undefined function password verify. Problem spt itu muncul kl versi php dibawah 5.5

[2019-01-29 04:39] agilurur commented on #167
Iya ,ini alamat webnya http://elibrary.sekolahathirah.sch.id,

[2019-01-29 05:03] buitenzorg812 commented on #167
@agilurur kalo diturunin versi php-nya, lewat cpanel, misal ke php 5.6 atau 7.0, beresiko nggak bang? karena khawatir di dalam hostingannya ada aplikasi lain yang perlu versi php 7.2.x

[2019-01-29 05:07] agilurur commented on #167
@buitenzorg812 kyaknya beresiko pak,

[2019-02-04 02:22] yusac25 opened #168 "Kesalah Denda dan Keterlambatan Slims 8"
Di menu data keterlambatan dan notifikasi email jumlah keterlambatan tidak sinkron perhitungnanya pada menu sirkulasi, jika melebihi hari mingu. Kasus ini jika setelan hari libur pada hari minggu dicentang, tidak berpengaruh pada perhitungan hari & denda pada daftar keterlambatan dan notifikasi email. Mohon untuk responya ya para developer, maturnuwun.
![menu sirkulasi](https://user-images.githubu

[2019-02-11 07:01] wiliamraharjo opened #169 "Visitor Tidak Bisa Diakses"
Salam saya baru install SLiMS download dari github 11 Februari 2019,

Visitor tidak dapat diakses , kenapa ya ?

Seting / sysconfig.inc.php masih default :smile:

ini alamat slims saya [https://wijayaputralib.web.id/index.php?p=visitor](https://wijayaputralib.web.id/index.php?p=visitor)

Terima kasih

[2019-02-11 07:06] idoalit commented on #169
@wiliamraharjo Visitor hanya bisa diakses melalui IP yang telah didefinisikan pada file lib/contents/visitor.inc.php

[2019-02-11 07:08] wiliamraharjo commented on #169
[code]

[2019-02-11 07:08] wiliamraharjo commented on #169
code visitor masih asli mas

[2019-02-11 07:20] idoalit commented on #169
@wiliamraharjo iya, memang aslinya begitu.

silahkan tambahkan IP komputer yg boleh mengakses visitor tersebut di https://github.com/slims/slims8_akasia/blob/b0399e3b48dae9595caa88852ccec84114ae45da/lib/contents/visitor.inc.php#L34

Karena pada dasarnya visitor digunakan untuk kunjungan fisik ke perpustakaan, bukan ke web.

[2019-02-11 15:33] wiliamraharjo commented on #169
Owh gitu ya mas @idoalit :smile:
`$allowed_counter_ip = array('127.0.0.1');`

Penulisan nya IP nya dipisahkan pakai koma ya ?
contoh seperti ini kah ?
`$allowed_counter_ip = array('127.0.0.1','192.168.1.5','192.168.1.7');

terima kasih

[2019-02-13 23:07] wiliamraharjo commented on #169
Sudah ketemu solusi nya mas @idoalit ternyata harus IP public yang mau akses visitor counter harus di masukan Aray nya allowed counter IP ,

Saya pakai http://whatismyip.com untuk melihat IP nya dan , ketemu IP publik di kantor saya,

Sekarang bisa , diakses di kantor ,

Terimakasih mas @idoalit :smile:

[2019-02-18 05:06] ibnufatkhan commented on #57
![capture](https://user-images.githubusercontent.com/26615265/52929100-8d84ed80-3375-11e9-8b16-d2d17f53c0b1.JPG)
pastikeun 3 coloum di atas tersedia, Pak

[2019-02-18 16:30] #169 closed, assigned to nobody

[2019-02-19 07:24] yusac25 commented on #168
terimakasih,

[2019-02-20 14:48] buitenzorg812 commented on #123
apakah ini jadi diimplementasikan ke dalam rilis berikutnya?

[2019-02-20 14:51] buitenzorg812 commented on #161
template default slims8 apakah sudah dibuat kompatibel dengan bootstrap4, mas?

[2019-02-20 22:46] wiliamraharjo opened #171 "Prosedural Reservasi Seperti Apa ? Apakah Saya Sudah Tepat ?"
Salam
Saya menggunakan SLiMS versi baru yang saya dowload dari github resmi slims di sini , dan  sudah
saya coba untuk reservasi berikut yang saya lakukan

## A. Persiapan Test Reservasi
1. Membuat tipe anggota **Siswa SMA** , jumlah reservasi **2**
2. Menambahkan anggota baru dengan tipe anggota  **Siswa SMA** , dan berpaswod

Boleh dicoba akun member ID : **0001** Paswod : **0001**

[https://san

[2019-02-20 23:47] wiliamraharjo commented on #171
## Jumlah peminjaman sudah maksimal! , Jika Sirkulasi Peminjaman Pakai Nomer Eksemplar Yang Disirkulasi :cold_sweat:

Dan saya coba reservasi ,Kemudian coba melakukan sirkulasi , **dengan nomor eksemplar yang saya reservasi** namun muncul peringatan

Jumlah peminjaman sudah maksimal! :cold_sweat:

![sirkulasi-2](https://user-images.githubusercontent.com/47516879/53133112-8c85d300-35a4-11e9-866b-b2

[2019-02-20 23:58] wiliamraharjo commented on #171
## Sirkulasi Dengan ID yang melakukan Reservasi , Tidak Ada Data Reservasi , Padahal Sebelum nya melakukan reservasi

Kemuian saya coba  Sirkulasi Dengan ID yang melakukan Reservasi  ( 0001 ) , Tidak Ada Data Reservasi , Padahal Sebelum nya melakukan reservasi.

Ini screenshot nya kosong pada tab reservasi tidak ada eksemplar yang saya reservasi.

Info eksemplar yang saya reservasi adalah :
* **p0

[2019-02-24 23:54] desawarna opened #172 "Mohon Diberi tag versi minor gar jelas dan memudahkan upgrade"
### Penomoran Versi SLiMS
Salam , dengan rasa sayang saya utarakan saran yang sudah saya _empet_ begitu lama hi hi ...

SLiMS * sudah memasuki 8.5 namun susah menyebut versi berapa apakah  :
*  8.0 ,
* 8.1 ,
* 8.2 ,
* 8.3 ,
* 8.4
* 8.5
:confused: :question:

Iya sih ada pada [https://github.com/slims/slims8_akasia/tree/master/upgrade](https://github.com/slims/slims8_akasia/tree/master/upgrade) tap

[2019-03-31 18:09] rrdipnie opened #174 "nothing"

[2019-03-31 18:25] #174 closed, assigned to nobody

[2019-04-11 16:50] MamanKendal opened #175 "Template Classic Membercard"
Lapor. Template classic membercard pengaturannya belum fungsi di slims8.5

[2019-04-25 02:58] yusac25 commented on #168
@idoalit untuk member_base_lib.inc.php perlu di benahin juga bang, fungsi peringatan keterlambatan peminjaman by email. trimkasih

[2019-04-26 05:14] sanakhardan commented on #57
Saya sudah tambahkan field Uid ditabel loan tapi tetap muncul pesan "GALAT! Data peminjaman tidak dapat disimpan ke dalam basisdata" mas @heroesoebekti  mohon bantuannya

[2019-04-27 23:22] desawarna commented on #57
Import sql upgrade nya , ada di *slims/upgrade/*

Pada tanggal Jum, 26 Apr 2019 pukul 12.14 sanakhardan <
notifications@github.com> menulis:

[2019-05-01 08:15] sanakhardan commented on #57
Saya sudah import DB dari website slims.web.id/web nya mas @desawarna tapi tetap masih error.
Mohon kiranya link yang benar-benar upgrade

[2019-05-09 18:42] agilurur opened #176 "Plugins"
Mas gini kan saya punya 2 lokasi perpustakaan tapi 1 sofware (slims 8), apakah bisa 1 sofware ini laporan statistik, peminjam, dan lain-lain  bukunya terpisah??

[2019-05-09 20:51] desawarna commented on #176
Bisa karena SLiMS open source - code sumber nya dapat dikembangkan, dengan
mengubah code nya - terkait dengan filter data

Pada tanggal Jum, 10 Mei 2019 1.42 AM agilurur <notifications@github.com
menulis:

[2019-05-10 00:45] agilurur commented on #176
Gimana caramya mas? Mohon bimbingannya

[2019-05-13 08:04] drwwjy opened #177 "Uncaught ReferenceError: google is not defined"
Muncul pesan:
Uncaught ReferenceError: google is not defined

![image](https://user-images.githubusercontent.com/50572885/57605217-c0b3d300-7598-11e9-8b3d-409f3ae84b0e.png)

Errornya dmn ya? Tolong, ada yang bisa bantu?

[2019-05-13 08:56] buitenzorg812 commented on #177
bisa tolong diceritakan kronologi kejadian sehingga pesan galat tersebut muncul?

[2019-05-13 08:58] drwwjy commented on #177
ini memakai template bootstrap_4 dari web perpustakaan Yudharta Pasuruan
[http://perpustakaan.yudharta.ac.id/2018/04/17/template-opac-slims-akasia-bootstrap-4/]

[2019-05-13 09:00] buitenzorg812 commented on #177
monggo dikonsultasikan ke pengembang templat yang bersangkutan.

[2019-05-13 09:00] drwwjy commented on #177
baik. makasih buat informasinya

[2019-05-13 09:02] #177 closed, assigned to nobody

[2019-05-31 03:06] andrekurniawan123 opened #178 "Printing Pop Loan Receipt"
Hi, I want to print loan receipt with 58mm thermal printer, but when I try to print the page is going to long, can you help me?

![image](https://user-images.githubusercontent.com/39290879/58678956-c2004080-838b-11e9-9534-c2715edf36d9.png)

[2019-06-06 08:42] raykai opened #179 "more options then just google for sensing emails"
would be nice to have other options to send email then just google ... im trying to set email sending with sparkpost [https://www.sparkpost.com/](https://www.sparkpost.com/) but i can't get it to work...

[2019-06-25 17:18] ndutndutan commented on #113
It’s happened to me, image upload in the bibliography only appear on "Promote To Homepage"

<img width="606" alt="Screen Shot 2019-06-26 at 00 12 49" src="https://user-images.githubusercontent.com/52214495/60118765-2e156f00-97a7-11e9-9b68-1c2607889452.png">

But at the detail, image missing
<img width="1156" alt="Screen Shot 2019-06-26 at 00 14 17" src="https://user-images.githubusercontent.com/52

[2019-06-25 22:28] agilurur opened #180 "Status eksemplar berubah menjadi missing"
Bang mohon bantuannya, bagaimana caranya merubah status "missing" di status eksemplar menjadi "tersedia". Karena semua data bibliografi berubah menjadi "missing".

[2019-07-04 06:15] alveolusss opened #181 "Book cover tidak muncul di record detail"
Saya sudah coba install slims akasia offline dan semua berjalan normal, namun ketika saya coba install di hosting untuk cover book di bagian record detail foto nya tidak muncul, apakah ada yang saya lewat kan?

![error](https://user-images.githubusercontent.com/4488498/60643523-8ca0b400-9e5d-11e9-8c3c-d0d6ce14b3ab.PNG)

[2019-07-09 12:30] ndutndutan commented on #181
saya juga mengalami hal yang sama mas, belum solved

[2019-07-09 12:33] ndutndutan commented on #74
mas.. apakah ini sudah solved?

[2019-07-09 23:56] alveolusss commented on #181
Sudah coba hal apa saja mas? saya coba ganti versi php juga masih bermasalah

[2019-07-10 15:32] ndutndutan commented on #181
saya sudah kasih pemision ke folder files images  dan repository mas..ada info dari pengguna slims juga, katanya itu bergantung hostingnya mas..

[2019-07-15 02:05] alveolusss commented on #181
seperti itu ya, baiklah saya coba komunikasikan dengan provider. Thanks mas.

[2019-07-26 09:25] L3sley99 opened #182 "[Security Bug] Cross-site Scripting (XSS) Pada Bagian Menu System dan Serial Control"
Selamat sore,

Saya menemukan bug XSS pada bagian menu **System** yang terdiri dari bagian :
1. _Content_,
2. _Modules_,
3. _Librarian & System Users_,
4. _User Group_,
5. _System Log_ dan yang terakhir pada menu **Serial Control**, bagian _Subscription_.

Proof of Concept :
1. Masuk ke bagian dashboard admin lalu masuk kedalam menu System dan pilih System Log (sebagai contoh).
![log](https://user

[2019-07-26 10:16] mucill commented on #182
Terima kasih atas informasinya.
Menurut saya sih, kalau sudah login tidak masuk kategori XSS karena semua akses sudah dibuka.
Kecuali hal ini bisa dilakukan tanpa harus login terlebih dahulu.
Demikian.

[2019-07-26 11:05] agussetyar commented on #182
Menurut saya ini tetap di kategorikan sebagai bug, karena dengan adanya celah pada halaman admin justru akan menimbulkan dampak yang sangat kritikal, jika nantinya cookie pada halaman admin bisa di curi oleh attacker yang menyisipkan malicious script disana.

Ref: https://medium.com/free-code-camp/session-hijacking-and-how-to-stop-it-711e3683d1ac

[2019-07-26 11:29] slims commented on #182
@agussetyar Bisa ditunjukkan proof of concept nya?

[2019-07-31 12:31] drajathasan commented on #182
@slims , kalau saya tangkap dari @agussetyar , xss ini bisa diexplore lagi dengan tindakan yang lebih, jika si user melakukan/menjalankan apa yang dipasang oleh penyerang. Contoh saja cookie yang disebutkan oleh TS, sepele memang tapi bisa jadi dari cookie itu bisa diolah lagi menjadi sarana bypass login si penyerang untuk bisa masuk kedalam sistem, dengan cara social enginering. Penyerang memanci

[2019-07-31 12:58] drajathasan opened #184 "XSS di member area"
Dengan link sebagai berikut.

index.php?p=member&destination="/><marquee%20style="font-size:50px;">Hai,%20ini%20adalah%20bug%20XSS</marquee><!--

Memang sepele, tapi bisa saja dimanfaatkan untuk mengambil data penting dengan membuat fake form via xss.

![Screenshot_2019-07-31_19-50-35](https://user-images.githubusercontent.com/38057222/62213542-5bb88e00-b3cd-11e9-9d36-53a8e0a6afe3.png)

[2019-08-10 09:44] #184 closed, assigned to nobody

[2019-08-21 23:52] nissaphire commented on #57
Apakah sudah bisa ya? Solusinya bagaimana? Saya padahal hanya update slims 8 ke 8.3.1 tiba2 muncul masalah kayak gtu. Transaksi sirkulasj jd terkendala.  Pesan errornya "Galat! Data peminjaman tidak dapat disimpan di basisdata" mohon solusinya kawan2

[2019-08-22 00:15] slims commented on #57
@nissaphire Coba cek apakah update juga membutuhkan update struktur database.

[2019-09-05 15:25] drajathasan opened #188 "Tajuk hasil pencarian hilang?"
SLiMS dev 8.5

Pada bagian pencarian, disebelah kanan tidak ditemukan dan ada elemen _simbio paging_ yang bocor kedalam kelemen yang berisi tajuk hasil pencarian (Search Result)

![Screenshot_2019-09-05_22-17-19](https://user-images.githubusercontent.com/38057222/64355580-a90ec780-d02b-11e9-881b-06f191d866d7.png)

Kebocoran terjadi pada _paging_ bagian bawah

![Screenshot_2019-09-05_22-18-24](http

[2019-09-18 20:28] #172 closed, assigned to nobody

[2019-09-24 02:26] dodysat opened #189 "Deprecation"
Deprecated: Methods with the same name as their class will not be constructors in a future version of PHP; StringReader has a deprecated constructor in \lib\lang\php-gettext\streams.php on line 48

Deprecated: Methods with the same name as their class will not be constructors in a future version of PHP; FileReader has a deprecated constructor in\lib\lang\php-gettext\streams.php on line 84

Depreca

[2019-10-19 15:56] amy-saturrahmi commented on #57
slims saya juga mengalami kejadian yang sama pasca upgrade slims 8 ke 8.3.1 dan setelah saya cek, kolom diatas juga tidak ada. bagaimana cara menambahkannya? mohon pencerahannya...

[2019-10-22 17:24] zetc0de commented on #182
Saya sepakat dengan @agussetyar , celah ini termasuk Authenticated Self XSS, karena celah ini hanya bisa diakses menggunakan hak akses/auth. Walaupun tingkat resiko celah ini rendah, akan menjadi medium bahkan critical jika dicombine dengan CSRF, apalagi tidak diproteksi dengan httpOnly dan Secure  Cookie Flag :)

[2019-10-29 06:17] dinakan opened #190 "Error requesting page : /admin/modules/system/app_user.php?changecurrent=true&action=detail&ajaxload=1undefined"
![slimsuser](https://user-images.githubusercontent.com/22209424/67742335-bf973500-fa56-11e9-93e1-d7a1d0cba2a0.png)

PHP Version 7.3.6

[2019-12-12 00:41] nissaphire commented on #171
kalau menu reservasi bisa digunakan kalau koleksi yang mau di reservasi lagi dpinjam.. :) semoga bisa membantu ya

[2020-01-03 17:54] #168 closed, assigned to nobody

[2020-01-03 17:55] #181 closed, assigned to nobody

[2020-02-04 01:19] astika-rp opened #195 "Error requesting page : /admin/AJAX_lookup_handler.php?format=json&allowNew=true"
Error requesting page : /admin/AJAX_lookup_handler.php?format=json&allowNew=true
Forbidden
You don't have permission to access this resource.

Additionally, a 403 Forbidden error was encountered while trying to use an ErrorDocument to handle the request.

Press F5 to hide this error message.

**muncul ini ketika menulis penerbit, tempat terbit, dan klasifikasi pada tambah blibliografi..**

[2020-07-22 12:26] motorcyclist1 opened #196 "OAI.php and OAI2.php doesn't pass BASE validation"
All versions of Slims doesn't pass BASE OAI validation for including to BASE database
test in the website:
http://oval.base-search.net

the SLIMS library -->  http://lib.smklabor.sch.id/oai2.php?verb=ListRecords&metadataPrefix=oai_dc

there are several errors
_ERROR: Identify response well-formed but invalid: Element '{http://www.openarchives.org/OAI/2.0/}earliestDatestamp': This element is not ex

[2020-10-07 11:29] arifzaen opened #197 "error"
mohon solusi kawan-kawan atas masalah ini : /admin/AJAX_lookup_handler.php?format=json&allowNew=true not found
notif ini keluar dimenu entry bibiografi ketika hendak menuliskan penerbit pada kolom penerbit atau tahun terbit
![error](https://user-images.githubusercontent.com/54533795/95325139-57daa280-08d3-11eb-89f3-e4c889a93ade.png)